*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding-top: 40px;
}
.wrapper p {
  margin-top: 20px;
}
.burger {
  display: none;
}
.menu a {
  color: #333;
  text-decoration: none;
}
.menu li {
  position: relative;
  list-style: none;
}
.menu__list {
  display: flex;
}
.menu__list > li {
  margin-right: 30px;
  min-width: 130px;
}
.sub-menu__list {
  display: none;
  min-width: 220px;
  position: absolute;
  left: 0;
  top: 20px;
  padding-top: 10px;
}
.sub-menu__list .sub-menu__link {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}
.sub-menu__list > li {
  background-color: #606060;
  transition: all 0.2s;
}
.sub-menu__list > li:hover {
  background-color: #535353;
  transition: all 0.2s;
}
.sub-sub-menu__list {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.sub-sub-menu__list .sub-sub-menu__link {
  padding: 5px 10px;
  min-width: 220px;
  display: inline-block;
  color: #fff;
}
.sub-sub-menu__list > li {
  background-color: #333;
  transition: all 0.2s;
}
.sub-sub-menu__list > li:hover {
  background-color: #262626;
  transition: all 0.2s;
}
.arrow {
  display: none;
  float: right;
}
.arrow.active {
  transform: rotate(180deg);
  margin-top: -2px;
}
.sub-menu__arrow {
  color: #fff;
  margin-top: 4px;
  margin-right: 5px;
  transform: rotate(-90deg);
}
.sub-menu__arrow.active {
  transform: rotate(90deg);
  margin-top: 5px;
}
body.pc .menu__list > li:hover .sub-menu__list {
  display: block;
}
body.pc .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}
body.mobile .sub-menu__list.open {
  display: block;
}
body.mobile .sub-sub-menu__list.open {
  display: block;
}
body.mobile .arrow {
  display: block;
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding-top: 10px;
  }
  .burger {
    display: block;
  }
  .menu {
    z-index: 2;
  }
  .menu__list {
    display: none;
    overflow: scroll;
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .menu__list > li {
    margin: 0;
    padding: 0px 0px 10px 0px;
    background-color: #fff;
  }
  .menu__list.open {
    display: block;
  }
  .sub-menu__list {
    position: relative;
    left: 0;
    top: 0;
  }
  .sub-sub-menu__list {
    position: relative;
    left: 0;
    top: 0;
  }
  .menu__arrow {
    margin-right: 5px;
  }
  .sub-menu__arrow {
    transform: rotate(0deg);
    margin-top: 5px;
  }
  .sub-menu__arrow.active {
    transform: rotate(180deg);
    margin-top: 3px;
  }
}
